
<script src="js/angular.min.js"></script>
    
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<div ng-app="myapp">
<section class="banner-bottom-w3layouts py-lg-5 py-md-5 py-4" id="services">
    <div class="container" ng-controller="managerProduct">
        <div class="product_hot" ng-init="getNewProduct()">
            <h1 class='txtretroshadow'>Sản Phẩm Mới Nhất</h1>
            <hr>
            <div class="row">
                <div class="col-sm-3" ng-repeat="productnew in productsNew | limitTo : 8">
                    <div class="card" style="width: 100%;">
                        <img src="./images/{{productnew.pictureProduct}}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">{{productnew.productName}}</p>
                        </div>
                        <div class="card-footer">
                            <div style="float: left;">
                                <p class="card-text">{{productnew.price}}</p>
                            </div>
                            <div style="float: left;"><a href="#!ProductDetail/{{productnew.id}}" class="btn btn-primary">đặt hàng</a></div>
                        </div>
                    </div>
                    <br>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //services -->
<!--gallery  -->
<section class="gallery py-md-5 py-4" id="projects">
    <div class="container" ng-controller="managerProduct">
        <div class="product_hot" ng-init="_refreshPageData()">
            <h1 class='txtretroshadow'>Sản Phẩm Bán Chạy</h1>
            <hr>
            <div class="row">
                <div class="col-sm-3" ng-repeat="product in products | limitTo:8:begin">
                    <div class="card" style="width: 100%;">
                        <img src="./images/{{product.pictureProduct}}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">{{product.productName}}</p>
                        </div>
                        <div class="card-footer">
                            <div style="float: left;">
                                <p class="card-text">{{product.price}}</p>
                            </div>
                            <div style="float: left;"><a href="#!ProductDetail/{{productnew.id}}" class="btn btn-primary">đặt hàng</a></div>
                        </div>
                    </div>
                    <br>
                </div>
            </div>
            <div class="col-lg-12 mt-3">
                <ul class="pagination justify-content-center">
                    <li class="page-item"><a class="page-link" ng-click="prev()" style="cursor: pointer;">Previous</a></li>
                    <li class="page-item"><a class="page-link">{{numPage}}/4</a></li>
                    <li class="page-item"><a class="page-link" ng-click="next()" style="cursor: pointer;">Next</a></li>
                </ul>
              </div>
        </div>
    </div>
</section>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
