        <div ng-controller="managerProduct">
          <div class="row justify-content-end" ng-controller="managerProduct">
            <form class="mt-2 mr-2" ng-submit="submitProduct()">
              <input type="text" name="">
              <input type="submit" name="" value="Tìm Kiếm">
            </form>
          </div>
          <div class="row mt-2 list-cart">

            <div class="col-sm-12 col-md-12 m-auto backg-white p-0">
              <div class="col-2 col-md-2 float-left text-center">Hình</div>
              <div class="col-3 col-md-2 float-left text-center">Tên</div>
              <div class="col-2 col-md-2 float-left text-center hidden-value d-md-block">Đơn Giá</div>
              <div class="col-2 col-md-2 float-left text-center">Ngày Nhập</div>
              <div class="col-2 col-md-2 float-left text-center">Số Lượng</div>
              <div class="col-2 col-md-2 float-left text-center">Thao Tác</div>
            </div>

            <div class="col-sm-12 col-md-12 m-auto row-align m-auto backg-white" ng-repeat="product in products">
              <div class="col-md-2 col-sm-2 float-left"><img src="../update/{{product.pictureProduct}}"></div>
              <div class="col-3 col-md-2 float-left">
                <p class="float-left text-dark">{{product.productName}}</p>
              </div>
              <div class="col-md-2 col-sm-2 float-left d-md-block hidden-value">
                <p class="text-danger">{{product.price}} đ</p>
              </div>
              <div class="col-md-2 col-sm-2 float-left">
                <p>{{product.dateAdded}}</p>
              </div>
              <div class="col-md-2 col-sm-2 float-left">{{product.quantity}}</div>
              <div class="col-2 col-md-2 float-left"><a ng-click="deleteProduct(product.id);">Xóa</a> | <a href="#!updateProduct/{{product.id}}">Sửa</a> </div>
            </div>
          </div>
        </div>
      